<section id="contato" ng-controller="contatoCtrl">
  <div class="topoPag">
    <h3>Contato</h3>
  </div>
  <!-- call -->
  <div class="container text-left titulo">
    <div class="row">
      <div class="col-xs-12">
        <br>
        <p>Informações sobre atletas e contratos entre em conosco.</p>
      </div>
    </div>
    <hr>
  </div>
  <!-- atletas -->
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <!-- <form name="contatoForm">
          <div class="form-group">
            <input type="text" class="form-control" name="nome" id="nome" require ng-model="contato.nome" placeholder="Digite seu nome">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" require ng-model="contato.email" placeholder="Digite seu e-mail">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" maskFone name="telefone" id="telefone" ng-require="true" ng-model="contato.telefone" placeholder="Digite seu telefone">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="mensagem" id="mensagem" rows="8" cols="80" ng-model="contato.mensagem" placeholder="Digite a sua mensagem"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="contatoForm.$invalid" name="submit">Enviar</button>
          </div>
        </form> -->


        <form action="https://formspree.io/sbeckerassessoria@gmail.com" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" require placeholder="Digite seu nome" name="name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" require placeholder="Digite seu e-mail" name="_replyto">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Digite se telefone" name="telefone">
          </div>
          <div class="form-group">
            <textarea name="mensagem" class="form-control"placeholder="Digite sua mensagem" rows="8" cols="80"></textarea>
          </div>
          <div class="form-group">
            <input type="hidden" name="_next" value="#!/obrigado" />
            <input type="text" name="_gotcha" style="display:none" />
            <input class="btn btn-primary" type="submit" value="Enviar">
          </div>
        </form>

      </div>
      <div class="col-md-7 col-xs-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.1820321288137!2d-51.17497418539153!3d-30.02788228188834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951977844055e0af%3A0x2af55b0f3df2c760!2sAv.+Dr.+Nilo+Pe%C3%A7anha%2C+1851+-+Boa+Vista%2C+Porto+Alegre+-+RS!5e0!3m2!1spt-BR!2sbr!4v1498323821945" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p class="text-right">
          <a href="mailto:sbecker11@sbecker.com.br">sbecker11@sbecker.com.br</a>
          <br>
          Fone: +55 51 3517.8372
          <br>
          Av. Dr. Nilo Peçanha, 1851 Sala 312 - Boa Vista - Porto Alegre/RS - Brasil
        </p>
      </div>
    </div>
  </div>
  <div ng-include="'views/footer.html'"></div>
</section>
