<section id="empresa">
  <div class="topoPag">
    <h3>SBecker Assessoria Esportiva</h3>
  </div>
  <!-- call -->
  <div class="container-fluid text-center titulo">
    <span>Fé, dedicação e garra</span>
    <!-- <hr> -->
  </div>
  <!-- about -->
  <div class="about">
    <div class="infoAbout">
      <p>
        São os valores que o gaúcho Sandro Becker carrega em sua carreira esportiva nos clubes do Brasil, exterior e Seleção Brasileira.
        O know-how da vivência no vestiário e a visão das reais necessidades profissionais e pessoais dos atletas, motivaram Sandro a
        criar um serviço e oferecer um e completo suporte aos profissionais da bola.
      </p>
      <p>
        Sempre destacando-se pela sua liderança dentro e fora do campo, Sandro tornou-se amigo e empresário de diversos jogadores de
        nível de Seleção Brasileira. Com foco no desenvolvimento social, desenvolve projetos na formação de jovens atletas que se
        destacam na cena esportiva gaúcha.
      </p>
    </div>
    <div class="skellEffect">
      <div class="fotoTeste">
        <span class='spanSkell left'></span>
        <img src="image/sandro-becker.jpg" alt="Sandro Becker">
      </div>
    </div>

  </div>
  <!-- projetos -->
  <div class="projetos">
    <span>Projetos</span>
    <p>
      São os valores que o gaúcho Sandro Becker carrega em sua carreira esportiva nos clubes do Brasil, exterior e Seleção Brasileira.
      O know-how da vivência no vestiário e a visão das reais necessidades profissionais e pessoais dos atletas, motivaram Sandro a
      criar um serviço e oferecer um e completo suporte aos profissionais da bola.
    </p>
    <p>
      Sempre destacando-se pela sua liderança dentro e fora do campo, Sandro tornou-se amigo e empresário de diversos jogadores de
      nível de Seleção Brasileira. Com foco no desenvolvimento social, desenvolve projetos na formação de jovens atletas que se
      destacam na cena esportiva gaúcha.
    </p>
  </div>
  <!-- missao -->
  <div class="missao">
    <div class="fotoMissao"></div>
    <div class="textoMissao">
      <h3>Missão</h3>
      <p>
        “Promover o bem estar com crescimento pessoal e profissional do atleta e sua família, a partir de princípios e valores
        cristãos, através do mais completo pool de profissionais e serviços, em um ambiente que prioriza os relacionamentos.”
      </p>
    </div>
  </div>
  <!-- visao -->
  <div class="gestao">
    <div class="textoMissao">
      <h3>Gestão de Carreira</h3>
      <p>
        A S. Becker além de representar e agenciar seus atletas em clubes do Brasil e do mundo oferece orientação individual e
        personalizada, com ampla e eficiente assessoria em diversas áreas e especialidades.
      </p>
    </div>
    <div class="fotoMissao"></div>
  </div>
  <!-- areas especializadas -->
  <!-- <div class="areasEspecializadas">
    <span class="text-center">Áreas de atuação em assessoria</span>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <img src="image/iconJuridico.svg" alt="assessoria juridica">
          <hr>
          <h3>Jurídico</h3>
        </div>
        <div class="col-md-3 col-xs-12">
          <img src="image/contabilidade.svg" alt="assessoria juridica">
          <hr>
          <h3>Contabilidade</h3>
        </div>
        <div class="col-md-3 col-xs-12">
          <img src="image/marketing.svg" alt="assessoria juridica">
          <hr>
          <h3>Marketing</h3>
        </div>
        <div class="col-md-3 col-xs-12">
          <img src="image/saude.svg" alt="assessoria juridica">
          <hr>
          <h3>Saúde</h3>
        </div>
      </div>
    </div>
  </div> -->
  <div ng-include="'views/footer.html'"></div>
</section>
